{% extends 'base.html.twig' %}

{% block title %} HomeController!{% endblock %}

{% block body %}



    <h1>Nos produits phares</h1>
    <div class="row">
        {% for p in products %}
        <div class="col">
            <div class="card">
                <img src={{ p.mainPicture }} class="img-fluid" 
                alt="Image du produit">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }} ({{ p.price / 100}} €)</h4>
                    <span class="badge badge-info text-black">
                        {{ p.category.name}}
                    </span>
                    <p class="card-text">{{ p.shortDescription }}</p>
                    <a href="#" class="btn btn-primary btn-sm">Détails</a>
                    <a href="#" class="btn btn-success btn-sm">Ajouter</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <hr>

    <h2>Un service irreprochable</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim 
    illo doloribus error sapiente quibusdam!</p>

   <div class="row">
        {% include "shared/_assurance.html.twig" with {
            "color": "primary",
            "icone": "fas fa-truck",
            "text": "changement Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim exercitationem voluptate obcaecati molestiae accusantium architecto 
            recusandae repellat ipsa voluptatum iure."
        } %}
           {% include "shared/_assurance.html.twig" with {
            "color": "success",
            "icone": "fas fa-check",
            "text": "changement Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim exercitationem voluptate obcaecati molestiae accusantium architecto 
            recusandae repellat ipsa voluptatum iure."
        } %}
           {% include "shared/_assurance.html.twig" with {
            "color": "warning",
            "icone": "fas fa-lock",
            "text": "changement Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim exercitationem voluptate obcaecati molestiae accusantium architecto 
            recusandae repellat ipsa voluptatum iure."
        } %}
   </div>


{% endblock %}
